@page "/admin/profiles"

@using msih.p4g.Client.Layout.Components

@using msih.p4g.Server.Features.Base.ProfileService.Model
@inject msih.p4g.Server.Features.Base.ProfileService.Interfaces.IProfileService ProfileService
@inject AuthorizationService AuthorizationService
@layout AdminLayout

<h3>Profile Management</h3>

@if (isLoading)
{
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date of Birth</th>
                    <th>Mobile</th>
                    <th>IsActive</th>
                    <th>Consent (Text/Email/Mail)</th>
                    <th>Unsubscribe (Text/Email/Mail)</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var profile in profiles)
                {
                    <tr>
                        <td>@profile.FullName</td>
                        <td>@(profile.DateOfBirth?.ToShortDateString() ?? "Not set")</td>
                        <td>@profile.MobileNumber</td>
                        <td>
                            <input type="checkbox" checked="@profile.IsActive" disabled />
                        </td>
                        <td>
                            <input type="checkbox" checked="@profile.ConsentReceiveText" disabled title="Text" />
                            <input type="checkbox" checked="@profile.ConsentReceiveEmail" disabled title="Email" />
                            <input type="checkbox" checked="@profile.ConsentReceiveMail" disabled title="Mail" />
                        </td>
                        <td>
                            <input type="checkbox" checked="@profile.UnsubscribeMobile" disabled title="Text" />
                            <input type="checkbox" checked="@profile.UnsubscribeEmail" disabled title="Email" />
                            <input type="checkbox" checked="@profile.UnsubscribeMail" disabled title="Mail" />
                        </td>
                        <td>
                            @if (profile.Address != null)
                            {
                                <span>@profile.Address.Street, @profile.Address.City, @profile.Address.State, @profile.Address.PostalCode, @profile.Address.Country</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    private List<Profile> profiles = new();
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
       
        isLoading = true;
        profiles = (await ProfileService.GetAllAsync(includeInactive: true)).ToList();
        isLoading = false;
    }
}
